@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

/* We don't want the default white background for WebFX Extras material text fields in the login window */
.login * {
    --webfx-material-background-color: transparent;
}

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using [text-empty="false"] CSS
   selector which is set by HtmlTextInputControlPeer to indicate whether the user has typed something or not.*/
.login input[type="password"][data-text-empty="false"] {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

/* Applying a style for the in-clear password that roughly matches the password dots */
.login input[type="text"] {
    font-size: 1.5em;
    letter-spacing: 0.4em;
}