

/* Montserrat password dots are tiny! So we use another font for passwords, but we don't want that font for the placeholder!
   So we apply that font only once the user started typing the password. This is done using :not([value=""]) CSS
   selector. Normally "value" refers to the initial value of the input only. However HtmlTextInputControlPeer keeps
   updating "value" to "" or "not-empty" whether the user has typed something, so this CSS rule finally works: */
input[type="password"]:not([value=""]) {
    font-family: "Password", serif;
    letter-spacing: 0.15em;
}

@font-face {
    font-family: "Password";
    src: url("./fonts/password/password.woff") format("woff");
    font-weight: 100 900;
}

.login {
    background-image: var(--login-bg-image); /* Specify the path to your image */
    background-repeat: no-repeat;               /* Prevents the image from repeating */
    background-size: cover;                     /* Scales the image to cover the area */
    background-position: center;                /* Centers the image */
    --fx-border-radius: 21px;
}

.login input {
     font-size: 20px;
       }

.login-child {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 21px;
   /* border: 1px solid lightgray;*/
   /* box-shadow: 0px 0px 10px lightgray;*/
    width: 586px; /* Sets the fixed width */
    height: 506px; /* Sets the fixed height */
}

.login .h2 {
    font-family: 'Poppins', sans-serif; /* Sets the font to Poppins, with a fallback to sans-serif */
}

.login .or {
    color: #888;
}

.login .line {
    background-color: lightgray;
}

.transparent-input > fx-background{
    background-color: transparent;
    }
.transparent-input > fx-border{
    border-style: none;
    }

