* {
    -webfx-login-portal-background-image: none; /* Specify the path to your image */
    -webfx-login-portal-title-color: #0096D6;
}

.login {
    -fx-background-image: none; /*-webfx-login-portal-background-image; not working*/
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
    -fx-background-size: cover; /* Scales the image to cover the area */
    -fx-background-position: center;
}

.login .background {
    -fx-background-image: none;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, lightgray, 10, 0, 0, 0);
}

.login .h2 { /* Login word on top */
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: bold;
    -fx-line-spacing: 0;
    -fx-text-fill: -webfx-login-portal-title-color;
}