.login {
     -fx-background-image: url("webfx-css:/loginportal/images/login-background-image.png"); /* Specify the path to your image */
     -fx-background-repeat: no-repeat;               /* Prevents the image from repeating */
     -fx-background-size: cover;                     /* Scales the image to cover the area */
     -fx-background-position: center;
}

.login .background {
     -fx-background-image: none;
     -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, lightgray, 10, 0, 0, 0);
}

.login-child {
    -fx-min-width: 586px;
    -fx-max-width: 586px;
    -fx-min-height: 506px;
    -fx-max-height: 506px;
}
